*.xcodeproj
Spout.xcodeproj
.DS_Store
database.yml
Web/config/database.yml
*.yml
*.sublime-project
*.sublime-workspace
Web/Gemfile
Web/Gemfile.lock
Gemfile
Gemfile.lock
.bundle
*.sqlite3
*.log
Web/tmp/
Web/.sass-cache/
Web/public/uploads/