<%unless @machine.active%>
	<h3>Spout machine is not active</h3></br>
<%end%>

<legend>Pending Orders</legend>
<%=render :partial=>'orders_table', :locals=>{:orders=>@pending_orders}%>

<legend>Completed Orders</legend>
<%=render :partial=>'orders_table', :locals=>{:orders=>@completed_orders}%>