<%machine_form_setup%>
<div class="row">
	<div class="span12">
		<h3>
			<%if @machine.running%>
				Queue is active and running
			<%else%>
				Queue is not active
			<%end%>
		</h3>
		<h4>Drinks served: <%=@machine.drink_count.to_s%></h4>
		<h4>Spout address: <%=@machine.uri.to_s%></h4>
		<%=button_to @label, machines_path, :method=>@method, :class=>'btn', 'data-toggle'=>'button'%>
	</div>
</div>